{% extends "base.html" %}

{%load static%}

{% block mainblock %}


    <div style="text-align: center; background: #EFEEE8; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
        <h2 style="color: #333;">You are already logged in</h2>
        <p style="color: #666;">If you want to log out, click the button below.</p>
        <a href="/logout" style="display: inline-block; text-decoration: none; background-color: #ff4d4d; color: white; padding: 10px 20px; border-radius: 5px; font-size: 16px;">
            Logout
        </a>
    </div>

{% endblock mainblock %}