{% extends "base.html" %}

{%load static%}

{% block mainblock %}

<section id="download-app" class="leaf-pattern-overlay">
    <div class="corner-pattern-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row">

                    <div class="col-md-5">
                        <figure>
                            <img src="{%static 'images/device.png' %}" alt="phone" class="single-image">
                        </figure>
                    </div>

                    <div class="col-md-7">
                        <div class="app-info">
                            <h2 class="section-title divider">Download our app now !</h2>
                            <p>Discover a seamless reading experience with our app! Explore a vast collection of books, save your favorites, and enjoy exclusive discounts—all at your fingertips. Download now and take your library wherever you go!</p>
                            <div class="google-app">
                                <img src="{%static 'images/google-play.jpg' %}" alt="google play">
                                <img src="{%static 'images/app-store.jpg' %}" alt="app store">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock mainblock %}