{% extends "base.html" %}

{% load static %}

{% block mainblock %}

<section id="featured-books" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>Some quality items</span>
                    </div>
                    <h2 class="section-title">Featured Books</h2>
                </div>

                <div class="product-list" data-aos="fade-up">
                    <div class="row">
                        {% for book in books %}
                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <a href="book_details/{{ book.id }}">
                                            <img src="{{ book.image.url }}" alt="{{ book.name }}" class="product-item">
                                        </a>
                                        <a href= "add-to-cart/{{book.id}}">
                                        <button type="button" class="add-to-cart">Add to Cart</button>
                                        </a>
                                    </figure>
                                    <figcaption>
                                        <a href="book_details/{{ book.id }}">
                                            <h3>{{ book.name }}</h3>
                                        </a>
                                        <span>{{ book.author }}</span>

                                        {% comment %} <div class="item-price">${{ book.price }}</div> {% endcomment %}
                                        <div class="item-price">
                                            {% if book.offer_status %}
                                                <span class="prev-price">₹{{ book.price }}</span>₹{{ book.offer_price }}
                                            {% else %}
                                            ₹{{ book.price }}
                                            {% endif %}
                                        </div>
                                    </figcaption>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                </div><!-- product-list -->

            </div><!-- col-md-12 -->
        </div><!-- row -->

        <div class="row">
            <div class="col-md-12">
                <div class="btn-wrap align-right">
                    <a href="{% url "popular" %}" class="btn-accent-arrow">View all books<i class="icon icon-ns-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div><!-- container -->
</section>

<section id="best-selling" class="leaf-pattern-overlay">
    <div class="corner-pattern-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-8">

                <div class="row">

                    <div class="col-md-6">
                        <figure class="products-thumb">
                            <img src="{% static 'images/single-image.jpg' %}" alt="book" class="single-image">
                        </figure>
                    </div>

                    <div class="col-md-6">
                        <div class="product-entry">
                            <h2 class="section-title divider">Best Selling Book</h2>

                            <div class="products-content">
                                <div class="author-name">By Timbur Hood</div>
                                <h3 class="item-title">Birds gonna be happy</h3>
                                <p>This book is about coping with being human. It's about how unexpected events smash and bash their way into our lives without permission. And how a love of the natural world - in particular birds- will help to raise you from these periodic depths. Through twelve characterful birds, Charlie show us that there is joy to be found in the very smallest of events. </p>
                                <div class="item-price">₹ 450</div>
                                <div class="btn-wrap">
                                    <a href="#" class="btn-accent-arrow">shop it now <i
                                            class="icon icon-ns-arrow-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- / row -->

            </div>

        </div>
    </div>
</section>

{% endblock mainblock %}
